<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale">
        <title>About Page</title>
        <link rel="stylesheet" href="/stylesheets/style.css">

    </head>
    <body>
      <nav>
    <label class="logo">William Miller</label>
      <ul>
        <li><a href='/home'>Home</a></li>
        <li><a class="active" href='/about'>About</a></li>
        <li><a href='/projects'>Projects</a></li>
        <li><a href='/blogs'>Blogs</a></li>

      </ul>
<script src="https://kit.fontawesome.com/yourcode.js"></script>

    </nav>

    <div class="wrapper">
     <iframe width="560" height="315" src="https://www.youtube.com/embed/6yN6xuam9Qw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <h1>William Miller</h1>
    <h2>-Networking and IT Security Student - Anticipated Graduation 2025 </h2>
    <h2>-IT Certification Enjoyer </h2>
    <h2>-Avid Reader </h2>
    <h2>-Video Game Player </h2>

    <h3>wm88miller@gmail.com</h3>
    <h3>905-706-7542</h3>

    </div>
    <nav class="navbar">
      <h6 class="navbar-text">&copy; Copyright 2022.  All Rights reserved.</h6>
      <h6 class="navbar-contact">Hi, I'm William, you can reach me at wm88miller@gmail.com for any questions you may have!</h6>
    </nav>
        
    </body>
</html>
