<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale">
        <title>Blogs Page</title>
        <link rel="stylesheet" href="/stylesheets/style.css">

    </head>
    <body>
      <nav>
    <label class="logo">William Miller</label>
      <ul>
        <li><a href='/home'>Home</a></li>
        <li><a href='/about'>About</a></li>
        <li><a href='/projects'>Projects</a></li>
        <li><a class="active" href='/blogs'>Blogs</a></li>

      </ul>

    </nav>

    <div class="wrapper">
      <div class="cisco">
          <img class='ciscopress' src='/photos/ciscopress.jpg'>
          <a src="https://www.ciscopress.com/">Ciscopress Blog</a>
      </div>
      <div class="NASA">
        <img class='NASA-Blog' src="/photos/NASA.png">
        <a src="https://www.nasa.gov/">NASA Blog</a>
      </div>
    </div>
    <p class="blog-desc"><center>
      These are my favorite Blogs to follow, that I normally keep up with.  I would highly recommend giving them a read!</center> 
    </p>
    <nav class="navbar">
      <h6 class="navbar-text">&copy; Copyright 2022.  All Rights reserved.</h6>
      <h6 class="navbar-contact">Hi, I'm William, you can reach me at wm88miller@gmail.com for any questions you may have!</h6>
    </nav>
  
        
    </body>
</html>
