<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home Page</title>
        <link rel="stylesheet" href="/stylesheets/style.css">
    <body>
    <nav>
    <label class="logo">William Miller</label>
      <ul>
        <li><a class="active" href='/home'>Home</a></li>
        <li><a href='/about'>About</a></li>
        <li><a href='/projects'>Projects</a></li>
        <li><a href='/blogs'>Blogs</a></li>

      </ul>


    </nav>

    <div class="wrapper">
    <h1>Welcome to my Portfolio Webpage!</h1>
      <img class="imgofme" src="/photos/williwum.jpg" alt="A Photo of Me">
      <iframe width="487" height="366" src="https://www.youtube.com/embed/RysbD8aj8yo" title="webpageintro" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      
      

    </div>
    <nav class="navbar">
      <h6 class="navbar-text">&copy; Copyright 2022.  All Rights reserved.</h6>
      <h6 class="navbar-contact">Hi, I'm William, you can reach me at wm88miller@gmail.com for any questions you may have!</h6>
    </nav>


    </body>
</html>
