<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale">
        <title>Projects Page</title>
        <link rel="stylesheet" href="/stylesheets/style.css">

    </head>
    <body>
     <nav>
    <label class="logo">William Miller</label>
      <ul>
        <li><a href='/home'>Home</a></li>
        <li><a href='/about'>About</a></li>
        <li><a class="active" href='/projects'>Projects</a></li>
        <li><a href='/blogs'>Blogs</a></li>

      </ul>
<script src="https://kit.fontawesome.com/yourcode.js"></script>

    </nav>

    <div class="wrapper">
      <img class="imgofpython" src="/photos/python.jpg" alt="A Photo of Python">
      <p><h1 class='indproj'>Independent Projects:<h1> 
  <h1>Java Parcel Distribution Center:<h1> 
    
    <h2>- Experience creating code to sort and display graphically a parcel distribution
      center</h2>
    <h2>- Realistic movement graphics across conveyors </h2>
    <h2>- Use of random number generator to create unique parcels </h2>
    <h2>- Change of positioning graphically </h2>
    <h2>- Use of random number generation to create random sizes for parcels  </h2>
    <h2>- Use of random color generation to create randomly colored parcels</h2>

    <h1>Python game #1:</h1> 
    <h2>- Game with the task of dodging falling objects that are displayed graphically  </h2>
    <h2>- Falling objects increase in speed and amount as the game goes on </h2>
    <h2>- Time survived is recorded and tracked with speed and amount of objects </h2>
    <h2>- Everything displayed on screen with the use of .pygame</h2>
 
    <h1 class='title3'> Python game #2 (hangman): </h1>
    <img class="imgofjava" src="/photos/Java.png" alt="A Photo of Java">
    <h2>- Use of storing many integers  </h2>
    <h2>- Game has an array of different words to choose from </h2>
    <h2>- Game tracks users letters and displays an actual hangman graphically</h2>
    <h1>Python Restaurant reservation system: </h1>
    <h2>- Program takes user input and stores it </h2>
    <h2>- Options to make reservations at a restaurant at a time and day</h2>
     
  </p>
  
    </div>
    <nav class="navbar">
      <h6 class="navbar-text">&copy; Copyright 2022.  All Rights reserved.</h6>
      <h6 class="navbar-contact">Hi, I'm William, you can reach me at wm88miller@gmail.com for any questions you may have!</h6>
    </nav>


    </body>
</html>
